.Header {
  border-bottom: 2px dashed #403f4c;
  height: 100px;
  /* margin: 0; */
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
/* Container for 'Jose's Personal Website' */
#name-container {
  position: relative;
  width: 50%;
}

/* Jose's Personal Website */
#name {
  font-family: Cambria, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  font-weight: 100;
  color: white;
  position: absolute;
  bottom: 0;
}

@media (max-width: 1000px) {
  #name {
    font-size: 28px;
  }
}
@media (max-width: 850px) {
  #name {
    font-size: 24px;
  }
}

/* 'Mobile' View */
@media (max-width: 600px) {
  .Header {
    flex-direction: column;
    /* width: inherit; */
    height: 700px;
    border: none; /* Remove dashed border on bottom of header */
  }
  #name-container {
    width: 100%;
    height: 70px;
    text-align: center;
  }
  #name {
    position: relative;
    font-size: 48px;
  }
}
