.Header {
  border-bottom: 3px dotted #403f4c;
  height: max(12vh, 100px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#name {
  font-family: Cambria, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  font-weight: 100;
  color: white;
}

/* need media queries smaller screens */
