.App {
  color: white;
  margin: 20px;
}
* {
  box-sizing: border-box;
}
body {
  margin-top: min(2vw, 100px);
  font-family: "Open Sans", sans-serif;
  background-color: #121420; /* try #171c29 later, debating between these two rn... */
  /* behavior: smooth; */
}

#main-container {
  display: flex;
  flex-direction: row;
}

#picture-me {
  margin: 5vw;
  width: 30vw;
  height: 30vw;
  /* border: 3px solid black; */
  border-radius: 3vw;
}

.side {
  display: flex;
  flex-direction: column;
  /* border: 3px solid black; */
}

.container {
  text-align: center;
  /* border: 3px solid black; */
}
