.App {
  color: white;
  /* margin: 2vw; */
}
* {
  box-sizing: border-box;
}
body {
  margin-top: -1vw;
  font-family: "Open Sans", sans-serif;
  background-color: #121420; /* try #171c29 later, debating between these two rn... */
  /* behavior: smooth; */
}

#main-container {
  display: flex;
  flex-direction: row;
}

#picture-me {
  margin-right: 3vw;
  margin-top: 3vw;
  width: 35vw;
  height: 35vw;
  /* border: 3px solid black; */
  border-radius: 3vw;
}

.side {
  display: flex;
  flex-direction: column;
  /* border: 3px solid black; */
}

.container {
  text-align: center;
  /* border: 3px solid black; */
}

@media (max-width: 800px) {
  #picture-me {
    width: 40vw;
    height: 40vw;
  }
} ;
