ul,
li {
  list-style-type: none;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  font-style: italic;
  margin: 0;
}

@media (max-width: 850px) {
  li {
    font-size: 13px;
  }
}

@media (max-width: 700px) {
  li {
    font-size: 9px;
  }
  h2 {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  li {
    margin-top: 2vw;
  }
  #list-technologies {
    width: 100vw;
  }
  #python {
    margin-top: 0;
  }
}
