.AboutMe {
  text-align: left;
  margin: auto;
}
@media (max-width: 1000px) {
  p {
    font-size: 14px;
  }
  h2 {
    font-size: 20px;
  }
}

@media (max-width: 850px) {
  p {
    font-size: 12px;
  }
}

/* 'Mobile' View */
@media (max-width: 600px) {
  #about-me-title {
    text-decoration: underline;
    font-size: 52px;
    margin-top: 150px;
  }
  #about-me,
  #quote {
    font-size: 18px;
    padding: 4vw;
  }
}
