.AboutMe {
  text-align: left;
  margin: auto;
}

@media (max-width: 1000px) {
  p {
    font-size: 14px;
  }
  h2 {
    font-size: 20px;
  }
}

@media (max-width: 850px) {
  p {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  h2 {
    text-decoration: underline;
    font-size: 14vw;
  }
  p {
    font-size: 18px;
    padding: 4vw;
  }
}
